.container {
    width: 90%;
    margin: 0 auto;
}

table.characters{
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    margin-top: 325px;
    position: static;
    max-width: 2000px;
    min-width: 1500px;
}

table.characters th {
    text-align: center;
    color: white;
    background-color: gold;
    border: 2px solid darkgray;
    border-collapse: collapse;
    padding: 10px;
}

table.characters td{
    text-align: center;
    color: black;
    background: gold;
    padding: 6px;
    border: 2px solid darkgray;
}

header {
    background: rgba(160, 160, 160, 0.5);
}
header::after {
    content: '';
    display: table;
    clear: both;
}
.logo{
    float:left;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 90px;
    padding-top: 35px;
}
nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: White;
}

.Legend {
    display: block;
    background-color: silver;
    position: fixed;
    width: 200px;
    height: 350px;
    margin-top: 6%;

}

.LegendText {
    color: slategrey;

    font-size: 22px;
    text-align: center;
    margin: 13%;

}
body{
    background-color: black;
    background-image: url(IMG/Background.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: 0px -70px
}
.Tolkien{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}


.Letters{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-top:10%;
}
.HeadText{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 5%;
}

.text{
    color:white;
    text-align:center;
    font-size:30px;
    margin: 20%;
    margin-top:30%;
    line-height:40pt;
}

.AuthorText{
    color:white;
    text-align:center;
    font-size:15px;
    margin: 10%;
    margin-top:2%;

}

.Characterstext{
    color: white;
    text-align: center;
}

.Characterstext a:link{
    color: lightgray;
}

.Characterstext a:visited{
    color: red;
}

.Characterstext a:hover{
    color: blue;
}

.Characterstext a:active{
    color: lawngreen;
}

.slidershow{
    width:300px;
    height:400px;
    overflow: hidden;
}
.middle{
    position: absolute;
    margin-top: 50%;
    margin-left: 10%;
    transform:translate(-50%,-50%);
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
}
.bar{
    width:50px;
    height:10px;
    border:2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition:0.4s;
}
.bar:hover{
    background:#fff;
}
input[name="r"]{
    position:absolute;
    visibility: hidden;
}
.slides{
    width:300%;
    height:100%;
    display:flex;
}
.slide{
    width: 33.33%;
    transition: 0.4s;
}
.slide img{
    width:100%;
    height:100%;
}
#r1:checked ~ .s1{
    margin-left:0;

}
#r2:checked ~ .s1{
    margin-left:-33.33%;

}
#r3:checked ~ .s1{
    margin-left:-67%;

}
