.container {
    width: 90%;
    margin: 0 auto;
}

table.characters{
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    margin-top: 325px;
    position: static;
    max-width: 2000px;
    min-width: 1500px;
}

table.characters th {
    text-align: center;
    color: white;
    background-color: gold;
    border: 2px solid darkgray;
    border-collapse: collapse;
    padding: 10px;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

table.authortable {
    width: 100%;
}
table.authortable th {
    text-align: center;
    color: white;
    background-color: gold;
    border: 2px solid darkgray;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

table.authortable td {
    color: black;
    text-align: center;
    background: rgba(255,215,0,0.5);
}

table.characters td{
    text-align: center;
    color: black;
    background: rgba(255,215,0,0.5);
    padding: 6px;
    border: 2px solid darkgray;
}

table.characters img{
    height: 50%;
    padding: 5px;
}

.shadowSauron {
    position: absolute;
    width: 150px;
    height: 200px;
    box-shadow: inset 0px 0px 0px 5px rgba(255,215,0,0.5);
    border-radius: 5px;
    top: 703px;
    left: 1338px;
}

header {
    background: rgba(160, 160, 160, 0.5);
}
header::after {
    content: '';
    display: table;
    clear: both;
}
.logo{
    float:left;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 90px;
    padding-top: 35px;
}
nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: White;
}

.legenda {
    display: block;
    background-color: darkgray;
    position: fixed;
    width: 200px;
    height: 350px;
    margin-top: 6%;

}

.legendtext {
    color: slategrey;
    font-size: 22px;
    text-align: center;
    margin: 14%;
    }
.legendtext a:link{
    color: black;
}
.legendtext a:visited{
    color: black;
}
.legendtext a:hover{
    color: white;
}
.legendtext a:active{
    color: lightgray;
}

body{
    background-color: black;
    background-image: url(IMG/Background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -70px
}
.tolkien{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    max-height: 400px;
    max-width: 400px;
}
table, th, td {
    border: 1px solid white;
}

.tablepic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    max-height: 100px;
    max-width: 100px;
}

.Letters{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-top:10%;
}
.HeadText{
    color: gold;
    text-align: center;
    text-shadow: 0.016em 0 black, 0 0.016em black, -0.016em 0 black, 0 -0.016em black;
    font-size: 50px;
    margin-top: 5%;

}

.text{
    color:white;
    text-align:center;
    font-size:30px;
    margin: 20%;
    margin-top:30%;
    line-height:40pt;
}

.authortext{
    color:white;
    text-align:center;
    font-size:20px;
    margin: 10%;
    margin-top:2%;

}
.authortext2 {
    color: gold;
    text-align: center;
    font-size: 30px;
    margin: 10%;
    margin-top: 2%;
    line-height: 40pt;
}

.Characterstextstar{
    color: white;
    text-align: center;
    font-size: 10px;
}

.Characterstext{
    color: white;
    text-align: center;
}

.Characterstext a:link{
    color: lightgray;
}

.Characterstext a:visited{
    color: red;
}

.Characterstext a:hover{
    color: blue;
}

.Characterstext a:active{
    color: lawngreen;
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
}
.boxje{
    position: absolute;
    margin-top:1500px;

    width:80%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-sizing: border-box;
    border-radius:4px;
    display: flex;

}
.boxje .middle{
    position: absolute;
    margin-top: 180px;
    transform:translate(-50%,-50%);
}
.boxje .slidershow{
    width:300px;
    height:400px;
    overflow: hidden;

}
.boxje .content{
    margin-left:150px;
    padding-left:20px;
    column-count:3;
    column-gap: 10px;
    column-width:150px;

}
.boxje .content h1 {
    color: Gold;
    margin-bottom: 50px;
    fon-size: 50px;


}
.boxje .content p1{
    color:white;
    font-size:30px;
    line-height:30pt;

}



.bar{
    width:50px;
    height:10px;
    border:2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition:0.4s;
}
.bar:hover{
    background:#fff;
}
input[name="r"]{
    position:absolute;
    visibility: hidden;
}
.slides{
    width:300%;
    height:100%;
    display:flex;
}
.slide{
    width: 33.33%;
    transition: 0.4s;
}
.slide img{
    width:100%;
    height:100%;
}
#r1:checked ~ .s1{
    margin-left:0;

}
#r2:checked ~ .s1{
    margin-left:-33.33%;

}
#r3:checked ~ .s1{
    margin-left:-67%;

}
